* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .stickyTop {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stickyTop .topHeader {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stickyTop .topHeader .inputLeft {
    display: flex;
    padding: 0px 10px;
    background: #f2f2f2;
    height: 38px;
    align-items: center;
  }
  .stickyTop .topHeader .inputLeft input {
    border: none;
    background: transparent;
    margin-left: 5px;
  }
  .stickyTop .topHeader .iconShopping {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stickyTop .headerWrap {
    padding: 0 10px;
  }
  .stickyTop .headerWrap .headerWrapItem {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stickyTop .headerWrap .headerWrapItem a {
    text-decoration: none;
    color: black;
  }
  .homeCategory {
    padding: 30px 10px 0 10px;
  }
  .homeCategory h5 {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .homeCategory .swiper-grid {
    padding-bottom: 30px;
  }
  .topSearch {
    padding: 0px 10px;
    padding-bottom: 100px;
  }
  .topSearch .topSearchTitle {
    display: flex;
    justify-content: space-between;
  }
  .topSearch .topSearchContent .topSearchInfo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    font-weight: 400;
  }
  .topSearch .topSearchContent .topSearchInfo .topSearchPrice .price {
    color: #ff2c00;
    font-size: 16px;
    font-weight: 600;
  }
  .topSearch .topSearchContent .topSearchInfo .topSearchPrice .currency {
    font-size: 9px;
    font-weight: 600;
    color: #ff2c00;
  }
  .topSearch .topSearchContent .topSearchInfo .topSearchDescrip a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  .topSearch .topSearchContent .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .discount {
    padding: 0px 10px;
    padding-bottom: 50px;
  }
  .discount .discountTitle {
    display: flex;
    justify-content: space-between;
  }
  .discount .discountBanner {
    margin-top: 15px;
  }
  .discount .discountBanner img {
    width: 100%;
  }
  .newProduct {
    padding: 15px 10px;
    padding-bottom: 50px;
  }
  .newProduct .newProductTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .newProduct .newProductContent .newProductInfo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    font-weight: 400;
  }
  .newProduct .newProductContent .newProductInfo .newProductPrice .price {
    color: #ff2c00;
    font-size: 16px;
    font-weight: 600;
  }
  .newProduct .newProductContent .newProductInfo .newProductPrice .currency {
    font-size: 9px;
    font-weight: 600;
    color: #ff2c00;
  }
  .newProduct .newProductContent .newProductInfo .newProductDescrip a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
  }
  .newProduct .newProductContent .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .trend {
    padding: 0px 10px;
    padding-bottom: 100px;
  }
  .trend .trendTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .trend .trendContent .trendInfo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    font-weight: 400;
  }
  .trend .trendContent .trendInfo .trendPrice .price {
    color: #ff2c00;
    font-size: 16px;
    font-weight: 600;
  }
  .trend .trendContent .trendInfo .trendPrice .currency {
    font-size: 9px;
    font-weight: 600;
    color: #ff2c00;
  }
  .trend .trendContent .trendInfo .trendDescrip a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  .trend .trendContent .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .information {
    padding: 0px 10px;
    padding-bottom: 20px;
  }
  .information .informationTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .information .informationContent .contentItem {
    position: relative;
  }
  .information .informationContent .contentItem .bannerItem {
    border-radius: 6px;
    margin-bottom: 20px;
  }
  .information .informationContent .contentItem .bannerItem img {
    width: 100%;
    height: 100%;
  }
  .information .informationContent .contentItem .informationText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.2196078431);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
  .information .informationContent .contentItem .informationText .newsPostTitle {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    min-height: unset !important;
  }
  .information .informationContent .contentItem .informationText .newsPostTime {
    font-size: 14px;
    padding-top: 5px;
    font-weight: 300;
    line-height: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .interested {
    padding: 0px 10px;
    padding-bottom: 100px;
  }
  .interested .interestedTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .interested .interestedContent {
    margin-bottom: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .interested .interestedContent .col-6 {
    padding: 10px;
    margin-bottom: 10px;
  }
  .interested .interestedContent .interestedImage img {
    width: 100%;
    height: 100%;
  }
  .interested .interestedContent .interestedInfo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    font-weight: 400;
  }
  .interested .interestedContent .interestedInfo .interestedPrice .price {
    color: #ff2c00;
    font-size: 16px;
    font-weight: 600;
  }
  .interested .interestedContent .interestedInfo .interestedPrice .currency {
    font-size: 9px;
    font-weight: 600;
    color: #ff2c00;
  }
  .interested .interestedContent .interestedInfo .interestedDescrip a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  footer .dropdownItem .card-header {
    border-bottom: none;
    background: #f2f2f2;
  }
  footer .dropdownItem .card-header button {
    padding-left: 0;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  footer .dropdownItem .card-header button:focus {
    text-decoration: none;
  }
  footer .dropdownItem .card-body {
    background: #f2f2f2;
    padding-top: 10px;
  }
  footer .dropdownItem .card-body ul {
    list-style: none;
  }
  footer .dropdownItem .card-body ul li {
    margin-top: 10px;
    font-size: 14px;
  }
  footer .dropdownItem .card-body ul li a {
    text-decoration: none;
    color: black;
  }
  footer .followUs {
    padding: 1.25rem;
    background: #f2f2f2;
    border-bottom: 1px solid #dee2e6;
  }
  footer .followUs .followUsTitle {
    margin-bottom: 15px;
  }
  footer .dowloadApp {
    padding: 10px 1.25rem;
    background: #f2f2f2;
    border-bottom: 1px solid #dee2e6;
  }
  footer .dowloadApp .dowloadAppTitle {
    margin-bottom: 15px;
  }
  .navigationFooter {
    background: white;
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index: 5;
  }
  .navigationFooter .navigationItem {
    cursor: pointer;
    width: 80px;
    font-size: 14px;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */