* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@media screen and (max-width: 576px) {
  .header {
    padding: 10px;

    .live {
      width: 100px;
      height: 27px;
      color: rgb(255, 255, 255);
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      line-height: 1.6;
      border-color: rgb(204, 34, 25);
      background: rgb(204, 34, 25);
      border-width: 1px;
      border-radius: 10px;
    }

    .numberPeople {
      p {
        margin-bottom: 0;
      }
    }
  }
}